<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{utilisateurs.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{utilisateurs.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/utilisateurss}" class="btn btn-secondary">[[#{utilisateurs.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('utilisateurs')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='nom', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='prenom', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='dateDeNaissance', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='lieuDeNaissance', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='utilisateurs', field='telephone', required=true, type='number')}" />
                <input type="submit" th:value="#{utilisateurs.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
