<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{utilisateurs.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{utilisateurs.list.headline}]]</h1>
                <div>
                    <a th:href="@{/utilisateurss/add}" class="btn btn-primary ms-2">[[#{utilisateurs.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${utilisateurses.empty}">[[#{utilisateurs.list.empty}]]</div>
            <div th:if="${!utilisateurses.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{utilisateurs.id.label}]]</th>
                            <th scope="col">[[#{utilisateurs.nom.label}]]</th>
                            <th scope="col">[[#{utilisateurs.prenom.label}]]</th>
                            <th scope="col">[[#{utilisateurs.dateDeNaissance.label}]]</th>
                            <th scope="col">[[#{utilisateurs.lieuDeNaissance.label}]]</th>
                            <th scope="col">[[#{utilisateurs.email.label}]]</th>
                            <th scope="col">[[#{utilisateurs.telephone.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="utilisateurs : ${utilisateurses}">
                            <td>[[${utilisateurs.id}]]</td>
                            <td>[[${utilisateurs.nom}]]</td>
                            <td>[[${utilisateurs.prenom}]]</td>
                            <td>[[${utilisateurs.dateDeNaissance}]]</td>
                            <td>[[${utilisateurs.lieuDeNaissance}]]</td>
                            <td>[[${utilisateurs.email}]]</td>
                            <td>[[${utilisateurs.telephone}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/utilisateurss/edit/{id}(id=${utilisateurs.id})}" class="btn btn-sm btn-secondary">[[#{utilisateurs.list.edit}]]</a>
                                    <form th:action="@{/utilisateurss/delete/{id}(id=${utilisateurs.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{utilisateurs.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
