<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{home.index.headline}]]</title>
    <!--<link rel="icon" type="image/x-icon" href="/favicon.ico">-->
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh; /* Assure que le contenu est centré verticalement dans toute la page */
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        h4 {
            color: #333;
            margin-bottom: 20px;
        }
        .list-group-item {
            color: #fff;
            background-color: #007bff;
            border: none;
            margin-bottom: 5px;
            padding: 10px 15px;
            transition: background-color 0.3s ease;
            text-decoration: none;
            display: block;
        }
        .list-group-item:hover {
            background-color: #0056b3;
        }
        .col-md-4 {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="center-content">
    <h1 class="mb-4">
        Bienvenue sur notre application<br>
        Groupe 3<br>
        Abdou Fall DRAME & Djimby Magatte Oumy GAYE
    </h1>

    <div class="col-md-4 mb-5">
        <h4 class="mb-3">Liste des utilisateurs</h4>
        <div class="list-group">
            <a th:href="@{/utilisateurss}" class="list-group-item list-group-item-action">
                [[#{utilisateurs.list.headline}]]
            </a>
        </div>
    </div>
</div>
</body>
</html>
